@import "../../theme";

.otp-loading {
  margin-top: -10px !important;
  height: 10vh;
  text-align: center;

  @include flex(center);
}

.subscriber-loading {
  height: 40vh;
  text-align: center;

  @include flex(center);
}
